<div class="main-container">
  <h4>¡Hasta luego {{user}}!</h4>
</div>

<style>
  .main-container { justify-content: center; display: flex; flex-direction:
  column; align-items: center; background-color: lightsalmon; padding-top: 20px;
  }
</style>