<div class="main-container">
  <h4 class="title">404: Ruta no encontrada</h4>
</div>

<style>
  .main-container { height: 100vh; justify-content: center; display: flex; flex-direction:
  column; align-items: center; background-color: lightsalmon; padding-top: 20px;
  } .title{font-size: larger; text-align: center;}
</style>